################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DesignPatterns.Composite
/src/DesignPatterns.Command/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Facade/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Facade/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Facade/obj
/src/DesignPatterns.Filter/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Filter/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Filter/obj
/src/DesignPatterns.Flyweight/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Flyweight/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Flyweight/obj
/src/DesignPatterns.Interpreter/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Interpreter/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Iterator/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Mediator/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Memento/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Memento/obj/Debug/netcoreapp2.1
/src/DesignPatterns.NullObject/bin/Debug/netcoreapp2.1
/src/DesignPatterns.NullObject/obj/Debug/netcoreapp2.1
/src/DesignPatterns.NullObject/obj
/src/DesignPatterns.Observer/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Observer/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Proxy/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Proxy/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Singleton/obj
/src/DesignPatterns.State/bin/Debug/netcoreapp2.1
/src/DesignPatterns.State/obj
/src/DesignPattern.AbstractFactory/bin/Debug/netcoreapp2.1
/src/DesignPattern.AbstractFactory/obj/Debug/netcoreapp2.1
/src/DesignPattern.Builder/bin/Debug/netcoreapp2.1
/src/DesignPattern.Builder/obj/Debug/netcoreapp2.1
/src/DesignPattern.FactoryPattern/bin/Debug/netcoreapp2.1
/src/DesignPattern.FactoryPattern/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Decorator/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Decorator/obj/Debug/netcoreapp2.1
/src/DesignPatterns.ProtoType/obj/Debug/netcoreapp2.1
/src/DesignPatterns.Strategy/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Strategy/obj
/src/DesignPatterns.Template/bin/Debug/netcoreapp2.1
/src/DesignPatterns.Template/obj
